{% extends 'base.html' %}
{% load static %}

{% block title %} Asistencia tomada | Presente Management {% endblock title %}

{% block content %}
<main class="w-full min-h-[calc(100dvh-75px)] flex flex-col items-center justify-start px-4 py-6 gap-10">

    <section class="w-full max-w-6xl flex flex-col md:flex-row gap-6 items-center justify-center">
        
        <!-- Contenedor: card -->
        <div class="w-full md:w-[65%] bg-white shadow-xl rounded-xl p-6 flex flex-col items-center justify-center gap-2">
            <h1 class="text-3xl font-semibold">Tu asistencia ha sido registrada con exito.</h1>
            <p class="text-2xl font-medium">Hasta luego!</p>
            <button type="submit" id="btn-cerrar" hidden class="bg-[#F54B64] py-2 px-6 rounded-xl text-white font-medium text-lg hover:bg-[#ff687f] transition disabled:bg-gray-400 disabled:cursor-not-allowed">
                Cerrar ventana
            </button>
        </div>

    </section>

</main>
{% endblock %}