{% extends 'base.html' %}
{% load static %}

{% block title %} Reportes | Presente {% endblock title %}

{% block content %}

    <main class="w-full min-h-[calc(100dvh-75px)] bg-gray-100 flex flex-col items-center justify-start px-4 py-3 gap-y-2">
        {# Contenedor header-busqueda #}
        <div class="w-full flex flex-col sm:flex-row p-2 border-b-2 border-b-gray-200 sm:gap-y-0 sm:h-[48px]">
            <div class="flex items-center min-w-0 sm:min-w-2xl h-full">
                <h2 class="text-xl sm:text-2xl font-medium">Listado de reportes</h2>
            </div>
            <nav class="flex flex-col sm:flex-row flex-1 items-start sm:items-center justify-end px-0 sm:px-2 gap-y-1 sm:gap-x-1 h-auto sm:h-full">
                <label for="busqueda" class="text-sm font-normal">Buscar reporte:</label>
                <input class="text-sm px-1.5 border rounded border-neutral-500 w-full sm:w-auto"
                type="search" name="busqueda" id="busqueda" placeholder="Reporte semanal">
            </nav>
        </div>

        {# Contenedor para todas las cards #}
        <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-2 p-2 w-full">
            {# Card #}
            {% for reunion in reuniones %}
            <div class="flex flex-col bg-white w-full min-h-[12rem] rounded-md py-4 px-6"
                data-titulo="{{ reunion.titulo|lower }}"
                data-descripcion="{{ reunion.descripcion|lower }}"
                data-fecha="{{ reunion.fecha|date:'SHORT_DATE_FORMAT'|lower }}">
                <h3 class="text-center font-bold text-xl text-gray-800 pb-2">{{ reunion.titulo }}</h3>
                <h4 class="text-base font-semibold text-gray-900">Descripcion</h4>
                <p class="text-sm text-gray-500 pb-3">{{ reunion.descripcion }}</p>
                <div class="flex gap-2 text-sm text-gray-500 border-b pb-2">
                    <p class="">Fecha:</p>
                    <p>{{ reunion.fecha|date:"SHORT_DATE_FORMAT" }}</p>
                </div>
                <div class="flex justify-around items-center py-3">
                    <a href="{% url 'generar_reporte_pdf' reunion.id %}" class="flex gap-2 text-gray-600 hover:scale-110 duration-200 hover:cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 stroke-green-700">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m.75 12 3 3m0 0 3-3m-3 3v-6m-1.5-9H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                        </svg>
                        <span class="font-semibold text-sm text-green-700">Descargar</span>
                    </a>
                </div>
            </div>
            {% endfor %}
        </section>
    </main>

{% endblock %}