{% extends 'base.html' %}
{% load static %}

{% block title %} Inicio | Presente {% endblock title%}

{% block content %}
<main class="w-full h-[calc(100dvh-75px)] flex items-center justify-center">
    <div class="w-full h-full flex flex-col items-center justify-center gap-4">
        <h1 class="text-6xl font-semibold"><span class=" bg-gradient-to-r from-[#F54B64] to-[#F78361] bg-clip-text text-transparent font-bold">Presente</span> Management</h1>
        <p class="font-medium">El sitio donde la administración se vuelve simple y eficiente.</p>
        <a href="{% url 'reunion' %}" class="flex items-center justify-center bg-[#F54B64] py-1 px-2.5 rounded-xl gap-1 hover:bg-[#F78361] transition">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-white font-semibold">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <span class="text-white font-medium">Crear reunion</span>
        </a>
    </div>
</main>
{% endblock %}