{% extends 'base.html' %}
{% load static %}

{% block title %} Inicio | Presente {% endblock title%}

{% block content %}
<main class="w-full min-h-[calc(100dvh-75px)] px-4 flex items-center justify-center">
    <div class="w-full max-w-4xl flex flex-col items-center justify-center gap-4 sm:gap-6 py-8">
        <h1 class="text-4xl sm:text-5xl md:text-6xl flex flex-col sm:flex-row items-center text-center font-semibold gap-2">
            <span class="bg-gradient-to-r from-[#F54B64] to-[#F78361] bg-clip-text text-transparent font-bold">Presente</span>
            <span>Management</span>
        </h1>
        <p class="font-medium text-base sm:text-lg md:text-xl text-center max-w-2xl px-4">El sitio donde la administración se vuelve simple y eficiente.</p>
        <a href="{% url 'vistaCrearReunion' %}" class="flex items-center justify-center bg-[#F54B64] py-2 sm:py-2.5 px-4 sm:px-5 rounded-xl gap-2 hover:bg-[#F78361] transition shadow-lg hover:shadow-xl">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 sm:size-6 text-white font-semibold">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <span class="text-white font-medium text-base sm:text-lg">Crear reunión</span>
        </a>
    </div>
</main>
{% endblock %}